@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: auto;
  max-width: 1500px;
}

.main-header {
  display: flex;
  position: relative;
  justify-content: center;
  height: 400px;
}

.main-header::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #707070;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 66%);
}

.header-content {
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.header-content h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.header-content span {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 4rem;
  color: #ffffff;
}

.header-content p {
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.navbar ul {
  list-style-type: none;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  margin: 0 15px 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #888;
  font-size: 1.4rem;
}

.btn {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  padding: 10px;
  width: 160px;
  text-align: center;
}
