@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: auto;
  max-width: 1500px;
}

/* style header */
.main-header {
  display: flex;
  position: relative;
  justify-content: center;
  height: 400px;
}

.main-header::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #707070;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 66%);
}

.header-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content h1 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}

.header-content span {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 4rem;
  color: #ffffff;
}

.header-content p {
  color: #ffffff;
  font-size: 1.6rem;
  margin-top: 30px;
}

/* style header navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.navbar ul {
  list-style-type: none;
  text-align: center;
}

.navbar ul li {
  display: inline-block;
  margin: 0 15px 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: #888;
  font-size: 1.4rem;
}

/* style main */
main {
  max-width: 920px;
  margin: auto;
  padding: 0 10px 0 10px;
}

.main-description-form {
  display: flex;
  justify-content: center;
  margin: auto;
}

.main-description {
  display: flex;
  flex-direction: column;
  flex: 1.5;
  max-width: 520px;
  margin-right: 60px;
  color: #888;
}

.main-description h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 25px;
}

.main-description p {
  font-size: 1.2rem;
  line-height: 2rem;
}

.main-form {
  flex: 1;
  max-width: 340px;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  color: #888;
  margin-bottom: 10px;
}

.form-group input[type='text'],
input[type='email'] {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border-radius: 0;
  border: 1px solid #707070;
}

.form-group .form-gender {
  display: inline-block;
  margin-right: 40px;
}

.form-group .form-gender label {
  display: inline-block;
}

.main-form .btn {
  display: inline-block;
  width: 100%;
  margin-top: 23px;
}

/* style products */
.products {
  margin-top: 80px;
  margin-bottom: 140px;
  text-align: center;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 52px;
  text-align: center;
  justify-content: space-between;
  grid-auto-flow: row;
}

.card {
  width: 200px;
  margin-bottom: 30px;
}

.card .card-img {
  width: 200px;
  height: 150px;
  margin-bottom: 14px;
  border: 1px solid #707070;
}

.card .card-btn {
  display: inline-block;
  width: 100%;
  padding: 5px;
  height: 30px;
}

.card .card-img {
  width: auto;
  height: auto;
  margin: auto;
  margin-bottom: 14px;
}

.card .product-name {
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 300;
  color: #888;
}

.card .product-description {
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #888;
}

.card .product-original-price {
  text-align: left;
  margin-bottom: 6px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #888;
}

.card .product-discount-price {
  text-align: left;
  margin-bottom: 7px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #888;
}

.card .product-parcel-price {
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #888;
}

/* style invite */
.invite {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 71px;
}

.invite p {
  font-size: 1.4rem;
  color: #888;
  margin-bottom: 60px;
}

.invite-form-fields {
  margin: auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  max-width: 720px;
}

.invite-form-fields .form-group {
  flex: 1;
  max-width: 340px;
}

/* style invalid name */
.invalid-name {
  display: block;
  margin-top: -18px;
  font-size: 1.2rem;
  color: red;
}

/* style footer */
.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 290px;
  background: #707070;
  clip-path: polygon(0 33%, 100% 0%, 100% 100%, 0% 100%);
}

.main-footer .footer-content {
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 100;
  line-height: 2rem;
}

/* in common styles */

/* --------- h2 ------- style h2 line */
.h2-line {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  color: #888;
  font-weight: 400;
  margin-bottom: 50px;
}

.h2-line:before {
  content: '';
  border-top: 1px solid #888;
  flex: 1 0 20px;
  margin-left: -10px;
  margin-right: 20px;
}
.h2-line:after {
  content: '';
  border-top: 1px solid #888;
  flex: 1 0 20px;
  margin-right: -10px;
  margin-left: 20px;
}

/* style buttons */
.btn {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 4px;
  opacity: 1;
  padding: 10px;
  width: 160px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  color: #888;
}

/* large buttons */
.btn-lg {
  width: 360px;
  height: 40px;
}
/* icon */
.btn-arrow {
  display: none;
}

.hidden {
  display: none;
}

.material-icons-outlined {
  align-self: flex-end;
  font-family: 'Material Icons';
  font-weight: 400;
  font-size: 3rem;
  color: #707070;
}

/*Style - email-template*/
.container-email {
  margin: auto;
  max-width: 600px;
}

.container-email header {
  height: 200px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  margin-bottom: 6px;
}

.container-email .header-content {
  max-width: 334px;
  margin-top: 30px;
}

.container-email .header-content p {
  margin-top: 9px;
  font-size: 1.4rem;
  text-align: justify;
  text-align-last: center;
}

.products-email {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.email-main-description {
  margin: auto;
  text-align: left;
  max-width: 565px;
  margin-bottom: 40px;
}

.products-email h1 {
  font-size: 2rem;
  color: #888;
  font-weight: 400;
  margin-bottom: 10px;
}

.products-email p {
  display: flex;
  font-size: 1.2rem;
  color: #888;
  font-weight: 400;
}

.products-email a {
  text-decoration: none;
}

.container-email .card-grid {
  margin-bottom: 62px;
  justify-content: center;
  display: flex;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
}

.container-email footer {
  height: 160px;
}

.footer-p {
  margin-top: 50px;
  text-align: center;
}

/* Style to responsiveness */

/* style to mobile(smartphones) */
@media (max-width: 600px) and (min-width: 375px) {
  .header-content {
    padding: 0 10px 0 10px;
  }

  .header-content h1 {
    width: 100%;
    text-align: left;
  }

  .header-content p {
    text-align: left;
    margin-top: 9px;
    font-weight: 200;
  }

  .header-content .btn {
    width: 140px;
  }
  .navbar {
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .navbar ul {
    display: flex;
    flex-wrap: wrap;
  }

  .navbar ul li {
    margin-bottom: 20px;
    flex: 40%;
  }

  .main-description-form {
    flex-direction: column;
  }

  .main-description-form h2 {
    display: inline-block;
  }

  .main-description {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .main-form {
    max-width: 100%;
  }

  .card {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130px;
    text-align: left;
    margin: 10px;
  }

  .card .card-img {
    text-align: center;
    margin: 0;
    width: 165px;
    height: 100%;
    margin-right: 20px;
  }

  .card .card-img > img {
    height: 100%;
  }

  .card .product-name {
    margin-top: 0;
  }

  .card .product-description {
    display: none;
  }

  .card .product-info .btn {
    width: 165px;
  }

  .products .btn-lg {
    width: 50%;
    min-width: 250px;
  }

  .invite-content {
    margin: auto;
    max-width: 340px;
  }

  .invite-content .btn-lg {
    width: 60%;
  }

  .invite-form-fields {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .invite-form-fields .form-group {
    width: 100%;
  }

  .main-footer {
    height: 160px;
  }

  .btn-arrow {
    display: inline-block;
  }
}

/* style to mobile(tablets) */
@media (max-width: 768px) and (min-width: 601px) {
  .header-content {
    padding: 0 10px 0 10px;
  }

  .header-content h1 {
    width: 100%;
    text-align: left;
  }

  .header-content p {
    text-align: left;
    margin-top: 9px;
    font-weight: 200;
  }

  .header-content .btn {
    width: 140px;
  }

  .navbar {
    flex-flow: row wrap;
  }

  .navbar ul {
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
  }

  .navbar ul li {
    margin-bottom: 20px;
    flex: 40%;
  }

  .description {
    flex: 1;
    max-width: 520px;
    margin-right: 60px;
  }

  .card-grid {
    justify-content: space-evenly;
  }

  .card {
    max-width: 200px;
    flex: 50%;
    margin: 15px;
  }

  .products .btn-lg {
    width: 50%;
    min-width: 250px;
  }

  .invite-content {
    margin: auto;
    max-width: 340px;
  }

  .invite-content .btn-lg {
    width: 60%;
  }

  .invite-form-fields {
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .invite-form-fields .form-group {
    width: 100%;
  }
}
